{% extends 'base.html.twig' %}
{% block title %}<title>{{ 'pageTitles.stories'|trans }}</title>{% endblock %}


{% block body %}
    {% set numberOfStories = stories|length %}

<header class="header" >
    {% include 'navmenu.html.twig' %}
</header>
    <!-- Slider main container -->
    <div id="content">
        <div class="content-wrap">
            <header>
                {% set route = app.request.attributes.get('_route') %}
                <h2>{{ 'innerTitles.stories.main'|trans }}</h2>
                <p>
                    {% if (filter == 1) %}
                        {% if (numberOfStories == 0) %}
                            {{ 'innerTitles.filterZero'|trans }} ({{ y0 }} - {{ y1 }}).
                        {% else %}
                            {{ numberOfStories }} {{ 'innerTitles.stories.secondary'|trans }} ({{ y0 == 0 ? '...' : y0 }} - {{ y1 == 9999 ? '...' : y1 }})
                        {% endif %}
                        <a href="{{ path('story_list') }}"><span class="highlight">{{ 'innerTitles.clearFilter'|trans }}</span></a>
                    {% elseif (search == 1) %}
                        {% if (numberOfStories == 0) %}
                            {{ 'innerTitles.searchZero'|trans }} ( {{ kw }}).
                        {% else %}
                            {{ 'innerTitles.stories.searchFor'|trans }} "{{ kw }}": {{ numberOfStories }} {{ 'innerTitles.stories.secondary'|trans }}.
                        {% endif %}
                        <a href="{{ path('story_list') }}"><span class="highlight">{{ 'innerTitles.clearSearch'|trans }}</span></a>

                    {% else %}
                        {{ 'innerTitles.stories.secondaryAll'|trans }}{{ ' ('~numberOfStories~')'}}
                    {% endif %}
                </p>
            </header>
            <div id="center">
                <section id="list">
                    <ul>
                    {% for story in stories %}
                        <li class="list-entry">
                                <p class="year">{{ story.year0 }}</p>
                                <p class="story-title">{{story.storyOrder}}.
                                    <a href="{{ path('story_show', {'no': story.storyOrder}) }}">{{ story.title|raw }}</a>
                                </p>
                        </li>
                    {% endfor %}
                </ul>
                </section>



            </div>
            <div id="footer">
                <article id="proiectHome">
                    <div id="parteneri">
                        <img id="img0" src=" {{ asset('bundles/app/images/logoAlba.png') }} " >
                    </div>
                    <div id="projectDesc">
                        {{ 'footer.projectDescription' | trans | raw }}
                    </div>
                </article>

        </div>

    </div>



    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
    <script src="{{ asset('bundles/app/js/custom.js') }}"></script>
{% endblock %}
